.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 340px;
    overflow: hidden;
    transition: "background" 1s linear;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}



.itemCarrouselArrows > a > i{
    display: block;
    color: white;
    font-size: xx-large;
    text-align: center;
    padding: 3px;
    width: 40px;
    height: 40px;
   
   
}
.itemCarrouselArrows > a:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.144);
}


.conteCarrouselController > a{
    text-decoration: none;
    font-size: 2em;
    color: grey;
}

