@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');
.categorias h1 {
    font-family: "Merriweather";
    font-weight: 800;
    font-size: 3rem;
    padding: 2rem;
    margin: 1rem 0 ;

}

.productos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.item-producto{
    flex: 0 0 20rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}   

.item-producto img{
    display: block;
    height: 60%;
    width: 60%;
    object-fit: contain;
    margin: 0 auto;
    
}
.producto_nombre{
    padding: 0 0.5rem ;
}

.producto_precio{
    margin: 1.5rem 0;
    padding: 0 0.5rem ;
    font-size: 2.5rem;
    font-weight: bold;
    color:rgb(65, 65, 65);
}

.producto_enlace{
    padding: 1rem 0.5rem ;
    border-radius: 1rem;
    background-color: black;
    color: white;
}
