*{
    border:0;
    margin: 0;
    box-sizing: border-box;
}

.vistaProducto{
    display: flex;
    padding: 1rem;
}

.vistaProducto .imagen{
    flex: 1 1 ;
    
}


.vistaProducto .texto{
    flex: 3 1  ;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    padding: 1rem;
}

#nameProducto{
    width: 100%;
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: bold;
}
#descripcionProducto{
    margin: 2rem 0;
    line-height: 2rem;
    text-align: justify;
}

#precioProducto{
    width: 100%;
    margin: 2rem 0;
    font-size: 3rem;
    font-weight: bold;
    color: rgb(189, 146, 39);
}
.form-group{
    width: 100%;
}
.form-group label{
    display:inline-block;
    width: 100%;
    font-weight: bold;
}

.form-group input{
    border: 1px solid black;
    border-radius: 1rem;
    padding: 1rem;
    text-align: center;
    width: 8rem;
    font-size: 1.5rem;
}
#btnComprar{
    margin: 2rem 0;
    padding: 1.2rem 1.5rem;
    color:white;
    background-color: black;
}